* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0080c1;
}

a {
  color: #f39c00;
}

.lesson {
  color: #fff;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.subtitle {
  background-color: #90218e;
  text-align: center;
  color: #fff;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.info {
  background-color: #fdf5e6;
  padding: 10px;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.list {
  background-color: #fdf5e6;
  padding: 0 0 0 40px;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.welcome {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul li:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 10px;
}

.imgbox {
  display: block;
  max-width: 100%;
  background-color: #fdf5e6;
  margin: 0;
}

ul {
  background-color: #fdf5e6;
  padding: 10px;
  margin: 0;
  padding-left: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ol {
  background-color: #fdf5e6;
  padding: 10px;
  margin: 0;
  padding-left: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}